<% include partials/header %>
  </header>
  <body>
    <table>
      <thead>
      </thead>

      <tbody>
        <tr>
          <td>
            <img src="<%= data.author_url %>" alt="<%= data.author_name %>" />
          </td>
          <td><%= data.author_name %></td>
          <br>
          <td><%= data.id %></td>
          <br>
          <td><%= data.author_biography %></td>
        </tr>
      </tbody>
    </table>
  </body>
<% include partials/footer %>
