<% include partials/header %>

  <main>
    <thead>
    </thead>
    <tbody>
      <br>
      <br>
      <div class="container">


      <!-- <div class="row"> -->

      <%let count=0;%>
      <% data.forEach((author) => {%>
        <%if (author.id != count) { %>
          <% count = author.id %>
          <div class="col s4">
        <tr>
          <td>
            <a href="/authors/<%= author.author_id %>">
              <img src="<%= author.author_url %>">
            </a>
            <h3>
              <%= author.author_name %>
            </h3>
          </td>
          <td>
            <p>
              <%= author.author_biography %>
            </p>
            <h4>Biography:</h4>
            <%data.forEach((book)=> {%>
              <%if (book.author_id === author.author_id ) { %>
            <li><a href="/books/<%=book.book_id%>"><%= author.title%></a></li>
              <%}%>
            <% })%>
          </td>
        </tr>
        <a href="/edit-authors/<%=author.id%>" ><button type="button" name="edit" class="">Edit</button></a>
        <button class='authorDelete' id='<%=author.id%>' type="button">Delete</button>
        <br>
        <br>
      </div>
        <%}%>
        <% }); %>
        <!-- </div> -->
        </div>
    </tbody>
  </main>
</body>
  <% include partials/footer %>
