<% include partials/header %>

  </header>
  <main>
    <thead>

    </thead>
    <div id="test-list">
   <input type="text" class="fuzzy-search" />
   <ul class="list">
    <%  let count = 0; %>
      <% data.forEach((book) => { %>
        <%  if(book.book_id != count) { %>
          <%  count = book.book_id %>
          <li>
            <p class="name"><%=book.genre%></p>
            <div class="col s12 m7">
              <h2 class="header"><%=book.title %></h2>
              <div class="card horizontal">
                <div class="card-image">
                  <a href="/books/<%= book.book_id %>">
              <img src='<%=book.cover_url %>' />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h4<%=book.genre%></h4>
              </div>

            <div class="card-stacked">
              <div class="card-content">
                <p> <%=book.description %></p>
              </div>
              <div class="card-action">
                </a>
                  <h4>Authors</h4>
                  <%data.forEach((author)=> {%>
                    <%if (author.book_id === book.book_id) { %>
                      <ul>  
                      <li>
                        <a href="/authors/<%=author.author_id%>"><%= author.author_name%></a>
                      </li>
                    </ul>
                      <%}%>

                        <% })%>
                          <a href="/edit-books/<%=book.book_id%>"><button type="button" name="edit">Edit</button></a>
                          <button class='deleteBooks' type="button" id='<%= book.book_id%>'>Delete</button>
                </div>
              </div>
            </div>
            </div>
            </div>
          </li>
          <%}%>
          <% }); %>
        </ul>
        </div>

  </main>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/bookSearch.js" type="text/javascript"></script>

  </body>

  </html>
