<% include partials/header %>
  </header>
  <body>
    <table>
      <thead>
      </thead>

      <tbody>
        <tr>
          <td>
            <img src="<%= data.cover_url %>" alt="<%= data.title %>" />
          </td>
          <td><%= data.book_title %></td>
          <br>
          <td><%= data.id %></td>
          <br>
          <td><%= data.description %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
