<% include partials/header %>

  <main>

    <div class="container">
      <h2>Edit</h2>

    <form>
      <h4 id="id"><%=data.id%></h4>
      <input type="text" id="title" value="<%=data.title%>">
      <br>

      <input type="text" id="genre" value="<%=data.genre%>">
      <br>

      <input type="url" id="url" value="<%=data.cover_url%>">
      <br>

      <textarea id="description" rows="8" cols="80" ><%=data.description%></textarea>
      <br>
      <button class ="editBook" id='<%=data.id%>' type="submit" name="button" >Submit</button>

    </form>
  </div>
  </main>
  </body>

  <% include partials/footer %>
